<h1>Login</h1>
<hr>
<div class="centered">
  <div class="col-md-3">
    <form #loginForm="ngForm" (ngSubmit)="validate(loginForm.value)" autocomplete="off">
      <div class="form-group" >
        <input placeholder="Username" id="username" class="form-control"
               (ngModel) = "userName" name = "userName" type="text"/>
      </div>
      <div class="form-group" >
        <div class="controls">
          <input placeholder="Password" id="password" class="form-control"
                 (ngModel) = "password" name="password" type="password"/>
        </div>
      </div>
      <div class="center-block" style="text-align: center;">
        <button type="submit" class="btn red-background btn-primary">Log In</button>
        <button type="button" (click) = "register()" class="btn btn-primary">Register</button><br>
      </div>
    </form>
    <span style="color:red">{{errorMessage}}</span>
  </div>
</div>
