<div class="col-sm-3">

  <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="validate(loginForm.value.userName,loginForm.value.password)">
    <div class="formgroup">
        <input placeholder="Username" id="username" class="form-control"
               (ngModel) = "userName" name = "userName" type="text">
    </div>
    <div class="formgroup">
    <input placeholder="Password" id="password" class="form-control"
           (ngModel) = "password" name="password" type="password">
    </div>
    <button type="submit" class="btn red-background btn-primary center-block">Log In</button><br>
  </form>
  <span style="color:red">{{errorMessage}}</span>
</div>
